body {
	overflow-y: hidden;
}
#clockdiv {
  padding-bottom: 400px;
}
.countdown {
  font-size: 60px;
  width: 100%;
  background-color: #0054C9;
  color: #FFF;
  font-family: "Tahoma,Geneva,sans-serif";
  min-height: 250px;
  padding-top: 80px;
  padding-bottom: 0;
}

.countdown-bottom{
	background-image: url("abc-small.jpg");
	padding-top: 150px; 
	text-align: center;
}
.countdown h1 {
  font-size: 60px;
}

.countdown .days{
  font-size: 80px;
  color: #FFF;
  border-top: 0px;
  text-align: center;
}
.countdown .hours{
  font-size: 80px;
  color: #FFF;
  border-top: 0px;
  text-align: center;
}
.countdown .minutes{
  font-size: 80px;
  color: #FFF;
  border-top: 0px;
  text-align: center;
}
.countdown .seconds{
  font-size: 80px;
  color: #FFF;
  border-top: 0px;
  text-align: center;
}
